@font-face {
  font-family: Hylian;
  src: url("../../static/fonts/hylian.otf");
}

@font-face {
  font-family: Journey;
  src: url("../../static/fonts/journey.ttf");
}

@font-face {
  font-family: GTA;
  src: url("../../static/fonts/gta.ttf");
}

@font-face {
  font-family: COD;
  src: url("../../static/fonts/cod.otf");
}

@font-face {
  font-family: MTG;
  src: url("../../static/fonts/mtg.otf");
}

@font-face {
  font-family: CSGO;
  src: url("../../static/fonts/csgo.ttf");
}

@font-face {
  font-family: LOL;
  src: url("../../static/fonts/lol.otf");
}
